.search {
  height: 2.0625rem;
  width: 5.625rem;
  border-bottom: 0.125rem solid var(--text-secondary-color);
  fill: var(--text-secondary-color);
  color: var(--text-secondary-color);
  position: absolute;
  bottom: 0;
  right: var(--page-padding);
  cursor: pointer;
  outline: none;
}

.focused {
  transition: all 0.25s ease-in-out;
  background-color: var(--bg-secondary-color);
  width: 18.75rem;
  height: 2.625rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.icon {
  position: absolute;
  /* stylelint-disable */
  bottom: 14.47px;
  right: 36.5px;
  /* stylelint-enable */
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: calc(100% - 7.875rem);
  height: calc(100% - 0.125rem);
  color: var(--text-primary-color);
  font-family: var(--font-family-secondary);
  /* stylelint-disable */
  padding-left: 36.5px;
  /* stylelint-enable */
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.0056rem;
}

/* input placeholder */
.input::placeholder {
  color: var(--text-primary-color);
  opacity: 0.4;
}
