.gu-image {
  /* max-width: 100%; */
  object-fit: contain;

  /* position: absolute; */
  width: 100%;
  height: unset;
}

.block-elements li {
  list-style-type: none;
}

.block-time,
.block-time > time {
  text-transform: uppercase;
  font-weight: bold;
}

.block-elements *,
.block-title {
  font-family: var(--font-family-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.006rem;
}

.block-title {
  font-size: 1.125rem;
  margin-bottom: 0.3125rem;
}

.block {
  margin-bottom: 1.875rem;
}

figure.element-image {
  margin-top: 0.859rem;
  padding-bottom: 0.625rem;
}

/* stylelint-disable */
.element-image__caption,
.element-image__credit {
  /* styellint-enable */
  font-family: var(--font-family-secondary);
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
  letter-spacing: 0.019rem;
  opacity: 0.5;
  color: var(--text-primary-color);
}

.element-table table {
  width: 100%;
  border: 0.0625rem solid;
  padding: 0.9375rem;
  border-radius: 0.3125rem;
}

figure.element-table th {
  font-weight: bold;
  text-align: left;
  font-size: 1.125rem;
  text-transform: uppercase;
}

figure.element-table th abbr {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.125rem;
}

.element-tweet {
  border: 0.0625rem solid;
  padding: 0.9375rem;
  border-radius: 0.9375rem;
  margin-bottom: 0.9375rem;
}

.element-tweet a {
  color: var(--bg-primary-color);
}

.twitter-tweet > p,
.twitter-tweet > p > a {
  font-size: 1.125rem;
}
