.top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1.875rem;
  grid-template-areas: '. . .';
  height: 26.4375rem;
  margin-top: 1.875rem;
}

.top-news-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 1.875rem 1.875rem;
}

.top-news-second-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.875rem;
  grid-template-areas: '. . .';
  min-height: 21.875rem;
  height: 21.875rem;
  margin-top: 1.875rem;
}

.section-news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.875rem;
  grid-template-areas: '. . .';
  height: 21.875rem;
  margin-top: 1.875rem;
}
