.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. . .';
  gap: 1.875rem;
  margin-top: 2.3125rem;
}

.results a {
  min-height: 21.875rem;
}

.noresult {
  text-align: center;
  font-family: var(--font-family-secondary);
  font-size: 1.4375rem;
  margin-top: 3.125rem;
}

@media (max-width: 62rem) {
  .results {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: '. .';
  }
}

@media (max-width: 25rem) {
  .results {
    grid-template-columns: 1fr;
    grid-template-areas: '.';
  }
}
