@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  color: var(--bg-primary-color);
  transform-origin: center;
  border: 0.5rem solid var(--bg-primary-color);
  border-radius: 50%;
  border-top: 0.5rem solid var(--bg-tertiary-color);
  width: 4.4375rem;
  height: 4.4375rem;
  animation: rotating 1s linear infinite;
}

.container {
  display: flex;
  margin-top: 14.875rem;
  justify-content: center;
  align-items: center;
}
