.web-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  letter-spacing: 0.0044rem;
}

.top-web-title {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  letter-spacing: 0.0039rem;
}

.no-thumbnail-container {
  background-color: var(--article-bg-placeholder);
}

.placeholder {
  display: flex;
  height: calc(100% - 42.46%);
  align-items: cent4r;
  align-items: center;
  justify-content: center;
}

.not-top-news {
  height: 38.62%;
}
