.header {
  background-color: var(--bg-primary-color);
  padding: 2.161rem var(--page-padding) 2.4375rem var(--page-padding);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo,
.logo path {
  width: 8.239rem;
  height: 3.07rem;
}
